### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = ('Resources\purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#calculate lengh of 'SN' to count total number of players
players = len(purchase_data["SN"].unique())

#set table
players_table = pd.DataFrame({"Total Players": [len(purchase_data.SN.unique())]})
players_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#calculate the number of unique items in the DataFrame
item_count = len(purchase_data["Item ID"].unique())

#calculate the average price
average_price = purchase_data["Price"].mean()

#calculate total number of purchases
total_purchase = len(purchase_data["Purchase ID"])

#calculate total revenue
total_revenue = purchase_data["Price"].sum()

#set summmary table and format
summary_table = pd.DataFrame({"Number of Unique Items": item_count, "Average Price": "${:.2f}".format(average_price), "Number of Purchases": total_purchase, "Total Revenue": "${:,.2f}".format(total_revenue)
},index=[0])

summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [245]:
#group by gender
gender = purchase_data.groupby("Gender")

#count the number of players by gender
gender_count = gender.nunique()["SN"]

#calculate percentage of total player
gender_percent = gender.nunique()["SN"] / players * 100

#set table and format
gender_table = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent.map("{:.2f}%".format)
})

#sort the gender column in order
gender_sort = gender_table.sort_values("Total Count", ascending = False)

gender_sort

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [239]:
#group by gender and count gender and its avg price and total purchase
gender_group = purchase_data.groupby("Gender")
purchase_count = gender_group["Gender"].count()
purchase_avg_price = gender_group["Price"].mean()
purchase_value = gender_group["Price"].sum()
#avg total purcahse price per person
avg_total_person = purchase_value / gender_count


#set data table and format
gender_data_table = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": purchase_avg_price.map("${:,.2f}".format), "Total Purchase Value": purchase_value.map("${:,.2f}".format), "Avg Purchase Total per Person": avg_total_person.map("${:,.2f}".format)})

#add index
gender_data_table.index.name = "Gender"

gender_data_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [165]:
#make bins and group
bins = [0, 9, 14, 19, 24, 29, 34, 39, 9999]
bins_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categolize and group
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],bins, labels=bins_group)
age_group = purchase_data.groupby("Age Ranges")

#calculate age count and percentage
age_count = age_group["SN"].nunique()
age_percent = (total_count_age/players) * 100

#set table and format
age_table = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percent.map("{:.2f}%".format)})

age_table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [246]:
#count purchases
purchase_count_age = age_group["Purchase ID"].count()

#calculate average purchase price
avg_price_age = age_group["Price"].mean()

#calculate total purchase value
total_purchase_value = age_group["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value / age_count

#set table and format
age_data_table = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": avg_price_age.map("${:,.2f}".format), "Total Purchase Value":total_purchase_value.map("${:,.2f}".format), "Avg Purchase Total per Person": avg_purchase_per_person_age.map("${:,.2f}".format)})

age_data_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [172]:
#group data by name
spender_group = purchase_data.groupby("SN")

#count spenders purchases
spender_purchase = spender_group["Purchase ID"].count()

#calculate spenders average purchase price
spender_avg_price = spender_group["Price"].mean()

#calculate spenders total purchase value
spender_total_purchase = spender_group["Price"].sum()

#set table
spender_table = pd.DataFrame({"Purchase Count": spender_purchase, "Average Purchase Price": spender_avg_price, "Total Purchase Value":spender_total_purchase})

#Sort the total purchase value column in descending order
spender_head = spender_table.sort_values(["Total Purchase Value"], ascending=False)[:5]

#format
spender_head.style.format({"Average Purchase Total":"${:,.2f}", "Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [186]:
#Retrieve the Item ID, Item Name, and Item Price
item = purchase_data[["Item ID", "Item Name", "Price"]]

#group by item id and name to summarize
item_group = item.groupby(["Item ID", "Item Name"])

#count purchase items
item_count = item_group["Price"].count()

#calculate total purchase value
item_total = item_group["Price"].sum()

#calculate item price
item_price = item_group["Price"].mean()

#set table to display data
item_table = pd.DataFrame({"Purchase Count": item_count, "Item Price": item_price, "Total Purchase Value": item_total})

#Sort top 5 of the purchase count column in descending order
item_sort = item_table.sort_values("Purchase Count", ascending = False)[:5]

#format
item_sort.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [188]:
#sort top 5 of the most profitable items in descending order
item_profitable = item_table.sort_values("Total Purchase Value", ascending = False)[:5]

#format
item_profitable.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})